body {
    display: flex;
    justify-content: center;
    background-image: url(./Background1.png);
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 412px;
    text-align: center;
    margin-top: 50px;
    height: 915px;
}

#container {
    position: absolute;
    display: flex;
    width: 412px;
    justify-content: space-between;
    top: 320px;
}

.item {
    margin-bottom: 10px;
    font-size: 20px;
}

#date {
    position: absolute;
    right: 1.5%;
    width: 30px;
    font-weight: bold;
}

#weekday {
    position: absolute;
    left: 1%;
    margin-top: 55%;
    width: 30px;
    font-weight: bold;
    transform: rotate(-90deg);
}

#week-type {
    position: absolute;
    left: 1%;
    width: 30px;
    font-weight: bold;
    transform: rotate(-90deg);
}

.credits {
    position: fixed;
    top: 700px;
}

.credits a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
}

.swap {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    right: 1.5%;
    margin-top: 40%;
    width: 30px;
    height: 30px;
    transition: transform 1s ease;
}

.rotate {
    animation: rotate 1s ease-in-out;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.swap img {
    width: 25px;
    height: 25px;
}

.wrapper {
    display: block;
    position: absolute;
    top: 457.5px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 310px;
    padding: 10px
}

.f1 {
    fill: #D9D9D9
}

.f2 {
    fill: #000000
}

@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,600,700");

.mode {
    background-color: #D9D9D9;
    margin-top: 300px;
    margin-right: 250px;
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.mode button {
    background-color: #26252b;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    transform: translateX(25px);
    transition: transform 0.3s ease-in-out;
}

.mode img {
    width: 20px;
    height: 20px;
    position: absolute;
}

.sun {
    transform: translateX(2.5px);
}

.moon {
    transform: translateX(27.5px);
}

.Dark-mode {
    background-image: url('./Background.png');
}

.Dark-mode .f1 {
    fill: #252539;
}

.Dark-mode .f2 {
    fill: #D9D9D9;
}

.Dark-mode span, .Dark-mode .credits a, .Dark-mode .credits {
    color: #D9D9D9;
}

.Dark-mode .mode {
    background-color: #252539;
}

.Dark-mode .mode button {
    background-color: #D9D9D9;
}